{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>AI Resume Assistant 🤖</h1>

    <div class="chat-box">

        {% for msg in history %}

            {% if msg.role == "user" %}
                <div class="user-msg">
                    {{ msg.message }}
                </div>

            {% else %}
                <div class="message-text">
                    {{ msg.message|safe }}
                </div>
            {% endif %}

        {% endfor %}

    </div>

    <form method="POST">

        <input
            type="text"
            name="message"
            placeholder="Ask AI anything..."
            required
        >

        <button type="submit">
            Send
        </button>

    </form>

</div>

<script>
window.onload = function() {
    var chatBox = document.querySelector(".chat-box");
    chatBox.scrollTop = chatBox.scrollHeight;
}
</script>

{% endblock %}