<!DOCTYPE html>
<html>
<head>

    <title>AI Chatbot</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>🤖 AI Resume Assistant</h1>

    <form method="POST">

        <textarea
        name="message"
        placeholder="Ask anything..."
        required></textarea>

        <button type="submit">
            Ask AI
        </button>

    </form>

    {% if reply %}

        <div class="card suggestion">

            <h3>AI Reply:</h3>

            <p>{{ reply }}</p>

        </div>

    {% endif %}

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>