{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>AI Resume Assistant 🤖</h1>

    <div class="chat-box">

        {% if user_message %}
        <div class="user-msg">
            {{ user_message }}
        </div>
        {% endif %}

        {% if reply %}
        <div class="ai-msg">
            {{ reply }}
        </div>
        {% endif %}

    </div>

    <form method="POST">

        <input
            type="text"
            name="message"
            placeholder="Ask AI anything..."
            required
        >

        <button type="submit">
            Send
        </button>

    </form>

</div>

{% endblock %}