{% extends "base.html" %}

{% block content %}

<div class="dashboard">

    <h1>🚀 AI Resume Analyzer Dashboard</h1>

    <h3>Welcome {{ username }}</h3>

    <div class="card">
        <p>Upload your resume and get AI analysis, skill match, and ATS score.</p>
    </div>

    <br>

    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

        <label>Job Role</label>
        <select name="role">
            <option value="python_developer">Python Developer</option>
            <option value="web_developer">Web Developer</option>
            <option value="data_scientist">Data Scientist</option>
        </select>

        <textarea name="job_description" placeholder="Paste Job Description" required></textarea>

        <input type="file" name="resume" required>

        <button type="submit">Analyze Resume</button>

    </form>

    {% if chart %}
        <h2>📊 History</h2>
        <div class="card">
            {{ chart|safe }}
        </div>
    {% endif %}

</div>

{% endblock %}