<!DOCTYPE html>
<html>

<head>

    <title>Login</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
{% extends "base.html" %}

{% block content %}
<div class="container">

    <h1>Login</h1>

    <form method="POST">

        <input
            type="text"
            name="username"
            placeholder="Username"
        >

        <input
            type="password"
            name="password"
            placeholder="Password"
        >

        <button type="submit">
            Login
        </button>

    </form>

    <br>

    <a href="/register">
        Don't have account? Register
    </a>

</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>