{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>Register</h1>

    <form method="POST" autocomplete="off">

        <input type="text" name="username" placeholder="Username" autocomplete="off" required>

        <input type="email" name="email" placeholder="Email" autocomplete="off" required>

        <input type="password" name="password" placeholder="Password" autocomplete="new-password" required>

        <button type="submit">Register</button>

    </form>

    <p>
        Already have account?
        <a href="{{ url_for('login') }}">Login</a>
    </p>

</div>

{% endblock %}